@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    background-color: lightgray;
}

header{
    background-color: rgb(139, 139, 139);
}

header>h1{
    text-align: center;
    padding: 10px;
}

i#burguer{
    background-color: rgb(81, 81, 81);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu>ul{
    list-style-type: none;
}

menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: rgb(81, 81, 81);
    color: white;
    padding: 10px;
    border-top: 2px solid gray;
}

menu a:hover{
    background-color: gray;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article>h2{
    padding-bottom: 20px;
}

article>p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
    line-height: 1.3em;
}