@charset "UTF-8";

@media screen and (min-width: 580px) {
    header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    header>h1{
        flex: 0 0 200px;
    }

    nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    nav>a{
        display: inline;
    }
    
    #burguer{
        display: none;
    }

    main{
        margin: auto;
        margin-top: 10px;
        width: 580px;
    }
}